extends layout

block content
    .row
        .col-12
            table.table.table-bordered#org-table
                thead
                    tr
                        th(scope='col') Index
                        th(scope='col') 組織位址
                        th(scope='col') 狀態
                tbody

    .row
        .col-12
            .text-right
                button.btn.btn-primary.auth-btn(type='button') 授權



    script. 
        $(function() {
            let account = "";
            let contract_address = "#{address}";

            window.ethereum.on('accountsChanged', function(accounts) {
                account = accounts[0];
                $(".account").html("Account:" + account);    
                $(".func4-input1").val(account);
            });

            $.getScript( "/javascripts/web3_bundle.js", async function(data, textStatus, jqxhr) {
                let data_org, data_acc;
                let contractAccInstance;
                let contractOrgInstance;
                $.when(
                    $.getJSON('/dataSharing/org.json', function(data) {
                        data_org = data;
                    }),
                    $.getJSON('/dataSharing/acc.json', function(data) {
                        data_acc = data;
                    })
                ).done(function() {
                    web3.eth.getAccounts().then((accounts) => {
                        account = accounts[0];
                    });

                    contractOrgInstance = new web3.eth.Contract(data_org.abi, contract_address);

                    contractOrgInstance.methods.getOrgList().call({from: account})
                    .then( (result) => { // orgList
                        //- alert(`Index: 0, Address: ${result}`);
                        console.log(result);

                        contractOrgInstance.methods.getAccessManagerAddress(account).call({from: account})
                        .then( (r) => {
                            contractAccInstance = new web3.eth.Contract(data_acc.abi, r);
                            console.log("accMgr:"+r);
                            contractAccInstance.methods.owner().call({from: account})
                            .then( (r) => {
                                console.log("owner:"+r);
                            });
                        })
                        .then( () => {
                            for (let i = 0; i < result.length; ++i) {
                                contractAccInstance.methods.validatePermission(result[i]).call({from: account})
                                .then( (r) => {
                                    console.log(r);
                                    $("#org-table>tbody").append(`
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="customCheck${i}" type="checkbox" value="${result[i]}" name="orgAddress"/>
                                                    <label class="custom-control-label" for="customCheck${i}"></label>
                                                </div>
                                            </td>
                                            <td>${result[i]}</td>
                                            <td class="text-center">`+
                                            (r == false ? `<i class="fas fa-lock"></i>` : `<i class="fas fa-lock-open"></i>`)
                                            +`</td>
                                        </tr>
                                    `);
                                });
                            }
                        });
                    })
                    .catch( (err) => {
                        alert(err);
                    });

                    $(".auth-btn").on("click", function(e) {
                        let selected = [];
                        $.each($("input[name=orgAddress]:checked"), function() {
                            selected.push($(this).val());
                            contractAccInstance.methods.authorizeAccess($(this).val()).send({from: account})
                            .then( (result) => {
                                console.log("txHash:"+result.transactionHash);
                            })
                            .catch( (err) => {
                                console.log("err"+err);
                            })
                        });
                        //- alert(selected);
                    })
                });
            });
        });