extends layout

block content
    .row
        .col
            .card
                .card-header
                    h4.font-weight-bold(style="margin:0;")
                        | #{title}
                .card-body
                    table.mt-2.table.table-striped
                        thead
                            tr
                                th(scope='col') Attributes
                                th(scope='col') Value
                        tbody
                            each val, idx in user
                                tr
                                    td #{idx}
                                    td #{val}

                    br
                    br                    
                    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
                        .status
                            | ...
                        button.close(type='button' data-dismiss='alert' aria-label='Close')
                            span(aria-hidden='true') ×

    br

    button.btn.btn-block.btn-outline-info.bind-btn(type='button' data-toggle='modal' data-target='#bindModal') 使用 Metamask 綁定帳號

    #bindModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .card.text-center
                    .card-header(style="font-size: 1.5rem; font-weight:bold")
                        | 帳號綁定
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                .card-body
                    h5.card-title 
                    form(action='/users/register' method='post')
                        .input-group
                            .input-group-prepend
                                span.input-group-text(id='') Ethereum address
                            input.form-control#address(type='text' name='address' placeholder="Address" required="required")
                        
                        .input-group.mt-3
                            .input-group-prepend
                                span.input-group-text(id='') 身份證字號
                            input.form-control#identityId(type='text' name='identityId' placeholder="Identity card ID" required="required")

                        input.btn.btn-info.btn-lg.btn-block.mt-4.submit-bind-btn(type='button' value='送出')


    script. 
        $(function() {
    
            let contract_address = "#{address}";
            let account = "";
            let status = false;
            let txHash = "";
            let options = {
                "fromBlock": "0",
                "toBlock": "latest",
                "address": contract_address
            }

            window.ethereum.on('accountsChanged', function(accounts) {
                account = accounts[0];
                $('#address').val(account);
                $('#address').attr("readonly", "readonly");
                $('#address').attr("style", "background-color: white;");
            });

            //- The above code would update ethereum address dynamically
            //- $(".modal").on("hidden.bs.modal", function() {
            //-     $(this).find('form').trigger('reset');
            //- });

            $(".bind-btn").on("click", function(e) {
                let id = "#{user.id}";
                if (id === "") {
                    // TODO: reset the input
                }
                else {
                    $.getScript("/javascripts/web3_bundle.js", function(data, textStatus, jqxhr) {                        
                        web3.eth.getAccounts().then((accounts) => {
                            account = accounts[0];
                            $('#address').val(account);
                            $('#address').attr("readonly", "readonly");
                            $('#address').attr("style", "background-color: white;");                        });
                    });

                    $("#identityId").val(id);
                    $('#identityId').attr("readonly", "readonly");
                    $('#identityId').attr("style", "background-color: white;");
                }
            });
            
            $(".submit-bind-btn").on("click", async function(e) {
                let input_0 = $("#identityId").val();
                let input_1 = $("#address").val();
                $('#bindModal').modal('toggle');
                await $.ajax({
                    url: 'bindAccount',
                    data: { uid: input_0, address: input_1},
                    type: 'post',
                    cache: false,
                    dataType: 'json',
                    success: function(res) {
                        alert(res.msg);
                        status = res.status;
                        txHash = res.txHash;

                    },
                    error: function(err) {
                        console.log(err);
                        alert("Error");
                    }
                });
                console.log(status);
            });
        
            $.getScript("/javascripts/web3_bundle.js", function(data, textStatus, jqxhr) {
                if (typeof(web3) !== "undefined") {
                    let subscription = web3.eth.subscribe('logs', options, async function(error, result){
                        if (!error) {
                            if (status) {
                                if (txHash === result.transactionHash) {
                                    alert("已完成綁定作業！");

                                    $.getJSON('org.json', async function (data) {
                                        let contractInstance = new web3.eth.Contract(data.abi, contract_address);
                                        contractInstance.methods.getId().call({from: account})
                                        .then( (result) => {
                                            console.log("hashed:"+result);

                                            $.ajax({
                                                url: 'updateUser',
                                                data: {hashed: result},
                                                type: 'post',
                                                cache: false,
                                                dataType: 'json',
                                                success: function(res) {
                                                    console.log("update done");
                                                    location.reload();  
                                                },
                                                error: function(err) {
                                                    consloe.log(err);
                                                    alert("update user faile");
                                                }
                                            });
                                        })
                                        .catch( (err) => {
                                            alert(err);
                                        });                
                                    });                                    
                                }
                            }
                        }
                        else {
                            alert(error);
                        }
                    });
                }
            });

            let id = setInterval(function() {
                if ("#{user.hashed}" === "") {
                    $(".status").html("尚未綁定任何區塊鏈帳戶");
                }
                else {
                    $(".status").html("已綁定");
                    clearInterval(id);
                    $(".bind-btn").attr("disabled", "disabled");
                }
                console.log("checked");
            }, 1000);

        });